semaine1_exercice1/.vs/
        semaine1_exercice1/Debug/
        semaine1_exercice1/semaine1_exercice1.sln
        semaine1_exercice1/semaine1_exercice1/Debug/
        semaine1_exercice1/semaine1_exercice1/semaine1_exercice1.vcxproj
        semaine1_exercice1/semaine1_exercice1/semaine1_exercice1.vcxproj.filters
        semaine1_exercice1/semaine1_exercice1/semaine1_exercice1.vcxproj.user
        semaine1_exercice3/.vs/
        semaine1_exercice3/Debug/
        semaine1_exercice3/semaine1_exercice3.sln
        semaine1_exercice3/semaine1_exercice3/Debug/
        semaine1_exercice3/semaine1_exercice3/semaine1_exercice3.vcxproj
        semaine1_exercice3/semaine1_exercice3/semaine1_exercice3.vcxproj.filters
        semaine1_exercice3/semaine1_exercice3/semaine1_exercice3.vcxproj.user
        semaine1_imc/.vs/
        semaine1_imc/Debug/
        semaine1_imc/semaine1_imc.sln
        semaine1_imc/semaine1_imc/Debug/
        semaine1_imc/semaine1_imc/semaine1_imc.vcxproj
        semaine1_imc/semaine1_imc/semaine1_imc.vcxproj.filters
        semaine1_imc/semaine1_imc/semaine1_imc.vcxproj.user
        semaine1_tirelire/.vs/
        semaine1_tirelire/Debug/
        semaine1_tirelire/semaine1_tirelire.sln
        semaine1_tirelire/semaine1_tirelire/Debug/
        semaine1_tirelire/semaine1_tirelire/semaine1_tirelire.vcxproj
        semaine1_tirelire/semaine1_tirelire/semaine1_tirelire.vcxproj.filters
        semaine1_tirelire/semaine1_tirelire/semaine1_tirelire.vcxproj.user
